<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="tests">
            <directory>./Test/</directory>
        </testsuite>
    </testsuites>

    <!--
    <php>
        <const name="DOCTRINE_DSN" value="pdo-mysql://root:password@127.0.0.1"/>
    </php>
    <-->

    <coverage>
        <include>
            <directory suffix=".php">../src/WebDebugger</directory>
        </include>
    </coverage>
</phpunit>
